#mainImg {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

#mainImg:hover {
    opacity: 0.7;
}

a.text-black:hover,
a.text-black:focus,
a.text-black.active {
    color: #ef7474 !important;
}

.text-primary {
    color: #ef7474 !important;
}

.text-mailto-link {
    color: #ef7474 !important;
}


/* FAQ */

.faq-title-container {
    margin-bottom: 3em;
}

.collapsible {
    background-color: #353535;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-style: normal;
    margin-bottom: 1em;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    margin-top: -1em;
    margin-bottom: 1em;
}

.display-collapsible {
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: 1.5;
    font-family: 'Jost', sans-serif;
  }


/* 404 */

.cid-spwFOP1giq span {
    font-size: 10rem;
    color: #ef7474;
    font-weight: bold;
    display: block;
    margin-bottom: 0.6em;
}

.btn-primary,
.btn-primary:active {
    background-color: #ef7474 !important;
    border-color: #ef7474 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: light) {
    .text-primary {
        color: #000000 !important;
    }
    .cid-s48OLK6784 .navbar.opened {
        background: #ffffff !important;
    }
    .navbar-dropdown {
        background: #ffffff;
    }
    button {
        color: #000000
    }

    .collapsible:after {
        color: white;
    }

    .content {
        background-color: #f1f1f1;
    }
}


/* Dark Theme */

@media (prefers-color-scheme: dark) {
    body,
    .cid-spwFOP1giq,
    .cid-spwGiPyVdn,
    .mbr-black {
        background-color: rgb(21, 21, 24);
        color: rgb(250, 250, 250) !important;
    }
    button {
        color: #FFFFFF
    }
    .text-black {
        color: rgb(250, 250, 250) !important;
    }
    .cid-s48OLK6784 .navbar.opened {
        background: rgb(21, 21, 21) !important;
    }
    .navbar {
        background: rgb(21, 21, 21) !important;
    }
    .cid-s48OLK6784 .navbar:not(.navbar-short) {
        border-bottom: 1px solid #868686;
    }
    button {
        color: rgb(250, 250, 250) !important;
    }
    .collapsible:after {
        color: rgb(233, 7, 7);
    }

    .content {
        background-color: #2b2b2b;
    }
}